In [1]:
import pandas as pd
import html5lib
import numpy as np

In [2]:
totalCases = pd.read_html('http://covid19.ncdc.gov.ng/', attrs = {'id': 'custom1'})
totalCases = totalCases[0]
totalCases = totalCases.set_index(0)

In [3]:
totalCases

                         1
0
Total Confirmed cases  174
Discharged               9
Death                    2

In [4]:
stateCases = pd.read_html('http://covid19.ncdc.gov.ng/', attrs = {'id': 'custom3'})
stateCases = stateCases[0]

In [5]:
stateCases

       States  Numbers     States.1  Numbers.1
0   Abuja FCT       35         Abia        0.0
1     Adamawa        0    Akwa Ibom        5.0
2     Anambra        0       Bauchi        3.0
3     Bayelsa        0        Benue        1.0
4       Borno        0  Cross River        0.0
5       Delta        0       Ebonyi        0.0
6       Enugu        2          Edo        4.0
7       Ekiti        2        Gombe        0.0
8         Imo        0       Jigawa        0.0
9      Kaduna        4         Kano        0.0
10    Katsina        0        Kebbi        0.0
11       Kogi        0        Kwara        0.0
12      Lagos       91     Nasarawa        0.0
13      Niger        0         Ogun        4.0
14       Ondo        0         Osun       14.0
15        Oyo        8      Plateau        0.0
16     Rivers        1       Sokoto        0.0
17     Taraba        0         Yobe        0.0
18    Zamfara        0          NaN        NaN

In [6]:
stateCasesA = stateCases[["States.1", "Numbers.1"]]
stateCasesA.rename(columns = {'States.1':'States', 'Numbers.1':'Numbers'}, inplace=True)

c:\users\ladankhadija\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [7]:
stateCasesA

         States  Numbers
0          Abia      0.0
1     Akwa Ibom      5.0
2        Bauchi      3.0
3         Benue      1.0
4   Cross River      0.0
5        Ebonyi      0.0
6           Edo      4.0
7         Gombe      0.0
8        Jigawa      0.0
9          Kano      0.0
10        Kebbi      0.0
11        Kwara      0.0
12     Nasarawa      0.0
13         Ogun      4.0
14         Osun     14.0
15      Plateau      0.0
16       Sokoto      0.0
17         Yobe      0.0
18          NaN      NaN

In [8]:
stateCasesB = stateCases[["States", "Numbers"]]
stateCasesB

       States  Numbers
0   Abuja FCT       35
1     Adamawa        0
2     Anambra        0
3     Bayelsa        0
4       Borno        0
5       Delta        0
6       Enugu        2
7       Ekiti        2
8         Imo        0
9      Kaduna        4
10    Katsina        0
11       Kogi        0
12      Lagos       91
13      Niger        0
14       Ondo        0
15        Oyo        8
16     Rivers        1
17     Taraba        0
18    Zamfara        0

In [9]:
allStateCases = stateCasesB.merge(stateCasesA, how='outer', sort=True)
allStateCases = allStateCases.set_index('States')
allStateCases = allStateCases.drop(np.nan)

allStateCases

             Numbers
States
Abia             0.0
Abuja FCT       35.0
Adamawa          0.0
Akwa Ibom        5.0
Anambra          0.0
Bauchi           3.0
Bayelsa          0.0
Benue            1.0
Borno            0.0
Cross River      0.0
Delta            0.0
Ebonyi           0.0
Edo              4.0
Ekiti            2.0
Enugu            2.0
Gombe            0.0
Imo              0.0
Jigawa           0.0
Kaduna           4.0
Kano             0.0
Katsina          0.0
Kebbi            0.0
Kogi             0.0
Kwara            0.0
Lagos           91.0
Nasarawa         0.0
Niger            0.0
Ogun             4.0
Ondo             0.0
Osun            14.0
Oyo              8.0
Plateau          0.0
Rivers           1.0
Sokoto           0.0
Taraba           0.0
Yobe             0.0
Zamfara          0.0

In [10]:
len(allStateCases)

37

In [11]:
allStateCases_json = allStateCases.to_json(orient = 'index')
totalCases_json = totalCases.to_json(orient = 'index')

In [12]:
allStateCases_json

'{"Abia":{"Numbers":0.0},"Abuja FCT":{"Numbers":35.0},"Adamawa":{"Numbers":0.0},"Akwa Ibom":{"Numbers":5.0},"Anambra":{"Numbers":0.0},"Bauchi":{"Numbers":3.0},"Bayelsa":{"Numbers":0.0},"Benue":{"Numbers":1.0},"Borno":{"Numbers":0.0},"Cross River":{"Numbers":0.0},"Delta":{"Numbers":0.0},"Ebonyi":{"Numbers":0.0},"Edo":{"Numbers":4.0},"Ekiti":{"Numbers":2.0},"Enugu":{"Numbers":2.0},"Gombe":{"Numbers":0.0},"Imo":{"Numbers":0.0},"Jigawa":{"Numbers":0.0},"Kaduna":{"Numbers":4.0},"Kano":{"Numbers":0.0},"Katsina":{"Numbers":0.0},"Kebbi":{"Numbers":0.0},"Kogi":{"Numbers":0.0},"Kwara":{"Numbers":0.0},"Lagos":{"Numbers":91.0},"Nasarawa":{"Numbers":0.0},"Niger":{"Numbers":0.0},"Ogun":{"Numbers":4.0},"Ondo":{"Numbers":0.0},"Osun":{"Numbers":14.0},"Oyo":{"Numbers":8.0},"Plateau":{"Numbers":0.0},"Rivers":{"Numbers":1.0},"Sokoto":{"Numbers":0.0},"Taraba":{"Numbers":0.0},"Yobe":{"Numbers":0.0},"Zamfara":{"Numbers":0.0}}'

In [13]:
totalCases_json

'{"Total Confirmed cases":{"1":174},"Discharged":{"1":9},"Death":{"1":2}}'